:root{
    --primary-color : #0f1419;
    --secondary-color : #1f56ef;
    --box-shadow-black : rgb(37 39 89 / 8%) 0px 8px 8px 0;
    --font-default: 'Poppins', sans-serif;
}

h1, 
h2{
  font-family: var(--font-default);
  
}

h1 {
  text-align: left;
  color: var(--primary-color);
  font-weight: 700;
  line-height: 24px;
}
h2{
  font-weight: 400;
  font-size : 20px !important;
  line-height: 1.4 !important;
  color: var(--primary-color);
  opacity: 0.5;
}

.button{
  display: block;
font-size: 20px;
background-color: #e84a5f;
text-align: center;
color: white;
text-decoration: none;
padding: 6px 20px;
box-shadow: var(--box-shadow-black);
border-radius: 4px;
}
.button:hover {
color: white;
background-color: var(--primary-color);}

.container{
  margin-top:20px;
}
.self-portrait{
  border-radius: 150px;
  width: 80px;
  display: block;
  margin: 0 auto;
  margin-top: 19px;
}
#col-presentation{
margin-top: 34px;
padding-left: 10px;
}


.icon{
  font-size: 40px;
  padding-right: 9px;
}
.github{
  color: var(--primary-color);
}
.github:hover{
  opacity: 0.6;
}

.linkedin{
  color: #0a66c2;
}
.linkedin:hover{
  color: #08417a;
}

.twitter{
  color: #1a8cd8;
}
.twitter:hover{
  color: #0d4f7a;
}

.instagram {
 color: #505cca;
}
.instagram:hover {
 color: #f14d59;
}

.homepage-navigation{
  margin-top: 18px;
}

.nav-bar-text{
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 500;
 color: var(--primary-color);
 
}
.nav-bar-icon{
  font-size: 22px;
   color: var(--primary-color);
}
.nav-bar-icon:hover{
  color: #e84a5f;
}

.hometab{
  padding-top: 30px;
 
}
.tab{
 text-decoration: none;
}
@media (max-width : 1000px){
  h2{
    text-align: center;
    padding-bottom: 10px;
  }
  .nav-bar-text{
    font-size: 14px;
  }
}
@media (max-width : 762px){
  h2{
    font-size: 15px !important;
  }
  .icon{
    font-size: 30px;
  }
.button{
font-size: 15px;
padding: 5px 10px;
}
.nav-bar-icon{
  font-size: 30px;
   color: var(--primary-color);
}

}

@media (max-width : 576px){
  h2{
   font-size:12px !important;
   padding-bottom: 0px;
  }
.icon{
    font-size: 20px;
    padding-right: 0;
  }
.col-8{
  margin-left: 25px;
}

.button{
font-size: 15px;
padding: 0px 0px;
width: 50px;
 margin: 0 auto;
}
.icon-bar {
  text-align: center;
}
.homepage-navigation{
  margin-top: 0px;
}

}
/*font-family: 'Poppins', sans-serif;
