:root {
  --primary-color: #0f1419;
  --secondary-color: #e84a5f;
  --third-color: #bfbfbf;
  --box-shadow-black: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  --font-default: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: var(--font-default);
}

h1 {
  position: fixed;
  text-align: left;
  color: var(--primary-color);
  font-weight: 700;
  line-height: 24px;
  padding-top: 25px;
  background-color: white;
  width: 100%;
  padding-bottom: 20px;
}
h2 {
  font-weight: 100;
  font-size: 25px !important;
  line-height: 1.4 !important;
  color: var(--third-color);
}
ul {
  list-style: none;
  font-family: var(--font-default);
  line-height: 2;
  margin-left: 0;
}
hr {
  color: var(--third-color) !important;
  opacity: 1 !important;
}

a {
  text-decoration: none !important;
  color: var(--primary-color) !important;
}
.button {
  display: block;
  font-size: 20px;
  background-color: var(--secondary-color);
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 6px 20px;
  box-shadow: var(--box-shadow-black);
  border-radius: 4px;
}
.button:hover {
  color: white;
  background-color: var(--primary-color);
}

.self-portrait {
  border-radius: 150px;
  width: 140px;
  display: block;
  margin: 0 auto;
  margin-top: 19px;
}
img.self-portrait-about {
  border-radius: 150px;
  width: 160px;
  margin-left: 50px;
  margin-top: -75px;
  display: block;
  border: 5px solid white;
  padding: 0;
}
div.row.main-row {
  margin-top: 75px;
}
#col-presentation {
  margin-top: 34px;
  padding-left: 70px;
}
#col-presentation-about {
  margin-top: 70px;
  padding-left: 40px;
}

.icon {
  font-size: 40px;
  padding-right: 9px;
}
.icon {
  color: var(--primary-color);
}
.icon:hover {
  color: var(--secondary-color);
}

.homepage-navigation {
  margin-top: 40px;
  position: fixed;
}

.nav-bar-text {
  font-family: var(--font-default);
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}
.nav-bar-text-main {
  font-family: var(--font-default);
  font-size: 25px;
  font-weight: 500;
  color: var(--primary-color);
}
.nav-bar-icon {
  font-size: 28px;
  color: var(--primary-color);
}
.nav-bar-icon-main {
  font-size: 30px;
  color: var(--primary-color);
}
.nav-bar-icon:hover {
  color: #e84a5f;
}
.nav-bar-icon-main:hover {
  color: #e84a5f;
}

.hometab {
  padding-top: 30px;
}
.tab {
  text-decoration: none;
}

.mini-view {
  border-radius: 100%;
  width: 140px;
  display: block;
}
.mini-view:hover {
  border-radius: 100%;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-iteration-count: 1.5s;
  animation-timing-function: linear;
}
.mini-view-about {
  border-radius: 100%;
  width: 160px;
  display: block;
}
.mini-view-about:hover {
  border-radius: 100%;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-iteration-count: 1.5s;
  animation-timing-function: linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div.project-presentation {
  font-family: var(--font-default);
}

.line-1 {
  margin-top: 65px;
}
.title {
  font-size: 25px;
  font-weight: 500;
}
.line-2 {
  line-height: 1.7;
  margin-left: 24px;
  color: var(--third-color);
}
.line-2-about {
  line-height: 1.7;
  margin-left: 0px;
  color: var(--third-color);
  font-size: 20px;
}

.image-project {
  border: 1px solid var(--primary-color);
  width: 700px;
  padding: 5px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.project-link {
  color: var(--primary-color);
  text-decoration: none;
}
.project-link-about {
  color: var(--third-color);
  text-decoration: none;
}
.project-link-about:hover {
  color: var(--primary-color);
  text-decoration: none;
}
.project-link:hover {
  color: var(--secondary-color);
}

.important {
  color: #f4aab3;
}

h1.main-header {
  font-size: 35px;
  position: fixed;
  background: white;
  padding: 20px;
}
img.landscape {
  max-height: 270px;
  margin-top: 80px;
}

a.say-hey {
  display: block;
  text-align: center;
  font-family: var(--font-default);
  color: var(--primary-color);
  text-decoration: none;
  margin-top: 30px;
  font-size: 17px;
  margin-left: 280px;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  padding: 5px;
  font-weight: 400;
}
a.say-hey:hover {
  background-color: #e7e7e8;
  color: var(--primary-color);
}
div.description {
  margin-top: 25px;
  margin-left: 5px;
}
div.work-position {
  font-size: 20px;
  color: var(--third-color);
  font-weight: 100;
}
h2.work-description {
  margin-top: 15px;
}
.subtitle-about {
  font-size: 25px;
  color: var(--primary-color);
  font-weight: 700;
  font-family: var(--font-default);
}

.title-about {
  font-size: 25px;
  margin-left: 5px;
  font-weight: 700;
}
.mini-title-about {
  font-size: 25px;
}
.item-about {
  font-size: 18px;
}
div.info-block {
  margin-left: 150px;
}
div.hobbies-block {
  margin-left: 150px;
}
img.degree {
  max-width: 300px;
  border-radius: 18%;
}
.hobbies {
  max-width: 245px;
  border-radius: 5%;
  border: 1 solid white;
  padding: 5px;
}
.legend {
  font-family: var(--font-default);
  text-align: center;
  font-size: 25px;
  color: var(--primary-color);
  text-decoration: none;
}
.legend:hover {
  color: var(--secondary-color);
}
div.hashtags {
  font-size: 20px;
}
div.first-row {
  margin-top: 120px;
  text-align: center;
  padding-left: 15px;
}

.img-projects {
  max-height: 250px;
}
@media (max-width: 1400px) {
  .project-presentation {
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .image-project {
    width: 535px;
  }
  .project-presentation {
    text-align: center;
  }
  div.project-presentation-about {
    padding-left: 40px;
  }
}
@media (max-width: 1000px) {
  h2 {
    text-align: center;
    padding-bottom: 10px;
  }
  h1.main-header {
    font-size: 30px;
    padding-right: 60px;
  }

  .nav-bar-text {
    font-size: 14px;
  }
  .nav-bar-text-main {
    font-size: 14px;
  }
  .nav-bar-icon {
    font-size: 24px;
  }
  .homepage-navigation {
    margin-top: 40px;
  }
  .image-project {
    width: 400px;
  }
  .mini-view {
    width: 100px;
  }
  .mini-view-about {
    width: 100px;
  }
  .line-1 {
    margin-top: 30px;
  }
  .title {
    font-size: 18px;
    margin-left: 5px;
  }
  a.say-hey {
    margin-left: 0;
  }
  h2.work-description {
    text-align: left;
  }
  div.project-presentation-about {
    padding-left: 0;
    text-align: center;
  }
  div.secondary-margin {
    margin-top: 40px;
  }
}

@media (max-width: 762px) {
  h2 {
    font-size: 18px !important;
  }
  h1.main-header {
    font-size: 25px;
    padding-right: 60px;
  }
  .icon {
    font-size: 30px;
  }
  .button {
    font-size: 15px;
    padding: 5px 10px;
  }
  .nav-bar-icon {
    font-size: 30px;
  }
  .icon-bar {
    text-align: right;
  }
  .homepage-navigation {
    margin-top: 6px;
  }
  .title-about {
    font-size: 20px;
  }
  .project-link-about {
    font-size: 15px;
  }
  div.hobbies-block {
    margin-left: 100px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 15px !important;
    padding-bottom: 0px;
  }
  h1.main-header {
    font-size: 25px;
    padding-right: 60px;
  }
  .icon {
    font-size: 20px;
    padding-right: 0;
  }
  .col-8 {
    margin-left: 25px;
  }
  .line-1 {
    margin-top: 20px;
  }
  .button {
    font-size: 15px;
    padding: 0px 0px;
    width: 50px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .icon-bar {
    text-align: center;
  }
  .homepage-navigation {
    margin-top: 0px;
  }
  .visit-button {
    width: 120px !important;
    display: block !important;
    margin-left: 0 auto;
  }
  div.project-presentation-about {
    text-align: right;
    padding-left: 35px;
  }
}

@media (max-width: 400px) {
  div.project-presentation-about {
    padding-left: 60px;
  }
}
